{{>navigation}}
<div class="cart__container">
	<div class="cart">
		<div class="cart__info">
			<div class="cart__header">
				<h3>Tu lista de productos</h3>
			</div>

			{{#if UserCart}} 
				{{#each UserCart}}
					<div class="cart__item">
						<div class="item__card">
							<div class="item">
								<h2>{{product.name}}</h2>
								<p>{{product.price}} $</p>
							</div>
						</div>

						<form action="/cart/delete/{{_id}}?_method=DELETE" method="POST">
							<input type="hidden" name="_method" value="DELETE" />
							<button type="submit">
								<i class="bi bi-x"></i>
							</button>
						</form>
					</div>
				{{/each}} 
			{{else}}
			<p class="cart__blank">No hay ningún producto en el carrito...</p>
			{{/if}}

			<div class="line"></div>

			<div class="cart__subtotal">
				<p>Subtotal</p>
				<p>{{subtotal}} $</p>
			</div>
		</div>
		<div class="cart__btn">
			<a href="/order" class="btn">Siguiente</a>
		</div>
	</div>
</div>

<div class="footer--bg">
	{{>footer}}
</div>
