{{>product_overlay}}

{{!-- Header --}}
<div class="header--container">
    <div class="info--header">
        <h1>Regala Eternidad</h1>
        <p>Louise's Roses va dirigido a personas que deseen expresar todo su amor a través de rosas. Son obsequios con calidad de exportación, nuestra meta es satisfacer las necesidades de los clientes ofreciendoles el mejor precio y excelentes productos de calidad.</p>
        <div>
            <a href="#" class="btn">Compra tu rosa</a>
        </div>
    </div>
</div>

{{!-- Catalogo de productos de la página de inicio--}}
<h2 class="title">Catálogo de productos</h2>

<div class="catalogo--container">
    {{#each products}}
        <div class="product--target" data-description="{{description}}" data-name="{{name}}" data-price="{{price}}">
            
            <div>
                <img src="{{img}}" alt="rosa" class="product--image">

                <div class="btn">
                    <h3>{{name}}</h3>
                </div>
            </div>

        </div>
    {{/each}}
</div>

<div class="more--icon">
    <a href="#"><i class="bi bi-three-dots"></i></a>
</div>

{{!-- Background del footer --}}
<div class="footer--bg">
	{{!-- Formulario de contacto --}}
    <div class="form__main--container" id="contacto">
	<h4 class="title">Contactanos</h4>

	<div class="form--container">
		<form action="/send-email" method="POST" class="form">
			<div class="input__form--container">
				<input
					type="text"
					name="name"
					class="input--form"
					placeholder="  Nombre"
				/>
				<input
					type="text"
					name="lastname"
					class="input--form"
					placeholder="  Apellido"
				/>
				<input
					type="text"
					name="email"
					class="input--form"
					placeholder="  Email"
				/>
				<input
					type="text"
					name="phone"
					class="input--form"
					placeholder="  Teléfono"
				/>

				<textarea
					name="message"
					rows="2"
					class="input--form block"
					placeholder="  Escriba su mensaje aquí"
				></textarea>

				<button class="btn-inv block">Enviar</button>
			</div>
		</form>

		{{!-- Información de contacto adicional --}}
		<div class="info__form--container">
			<h5>Más información</h5>

			<ul>
				<li><i class="bi bi-geo-alt-fill"></i><p><span>Ciudad Bolívar, Venezuela.</span></p></li>
				<li><i class="bi bi-envelope-fill"></i><p>louisesrosesve@gmail.com</p></li>
				<li><i class="bi bi-telephone-fill"></i><p>0412-8950564</p></li>
			</ul>

			<p class="p--form center">
				Queremos tener una buena comunicación para tener buenos resultados, no
				dudes en contactarnos.
			</p>

			<p class="center">www.rosaseternas.com</p>
		</div>
	</div>

</div>

	{{!-- Footer --}}
    {{>footer}}

</div>