{{>navigation}}
{{>product_overlay}}

{{!-- Header --}}
<div class="header">
    <div class="header__info">
        <h1>Regala Eternidad</h1>
        <p>Louise's Roses va dirigido a personas que deseen expresar todo su amor a través de rosas. Son obsequios con calidad de exportación, nuestra meta es satisfacer las necesidades de los clientes ofreciendoles el mejor precio y excelentes productos de calidad.</p>
        <div>
            <a href="/" class="btn">Más productos</a>
        </div>
    </div>
</div>

{{!-- Catalogo de productos de la página de inicio--}}
<h2 class="title">Productos más vendidos</h2>

<div class="catalogo">
    {{#each products}}
        <div class="product__card" data-description="{{description}}" data-name="{{name}}" data-price="{{price}}" data-productid="{{_id}}">
            
            <div>
                <img loading="lazy" src="{{img}}" alt="rosa" class="product__image">
            </div>

        </div>
    {{/each}}
</div>

<div class="icon">
    <a href="#"><i class="bi bi-three-dots"></i></a>
</div>

{{!-- Background del footer --}}
<div class="footer--bg">
	{{!-- Formulario de contacto --}}
    <div class="contact" id="contact">

		<h4 class="title">Contactanos</h4>

		<div class="contact__elements">
			<form action="/send/message" method="POST" class="form">
				<div class="form__inputs">
					<input
						type="text"
						name="name"
						class="input"
						placeholder="  Nombre"
					/>
					<input
						type="text"
						name="lastname"
						class="input"
						placeholder="  Apellido"
					/>
					<input
						type="text"
						name="email"
						class="input"
						placeholder="  Email"
					/>
					<input
						type="text"
						name="phone"
						class="input"
						placeholder="  Teléfono"
					/>

					<textarea
						name="message"
						rows="2"
						class="input block"
						placeholder="  Escriba su mensaje aquí"
					></textarea>

					<button class="btn-inv block">Enviar</button>
				</div>
			</form>

			{{!-- Información de contacto adicional --}}
			<div class="contact__info">
				<h5>Más información</h5>

				<ul>
					<li><i class="bi bi-geo-alt-fill"></i><p><span>Ciudad Bolívar, Venezuela.</span></p></li>
					<li><i class="bi bi-envelope-fill"></i><p>louisesrosesve@gmail.com</p></li>
					<li><i class="bi bi-telephone-fill"></i><p>0412-8950564</p></li>
				</ul>

				<p class="paragraph center">
					Queremos tener una buena comunicación para tener buenos resultados, no
					dudes en contactarnos.
				</p>

				<p class="center">www.rosaseternas.com</p>
			</div>
		</div>
	</div>

	{{!-- Footer --}}
    {{>footer}}

</div>