{{>navigation}}
{{>product_overlay}}

{{!-- Header --}}
<div class="header">
    <div class="header__info">
        <h1>Regala Eternidad</h1>
        <p>Louise's Roses va dirigido a personas que deseen expresar todo su amor a través de rosas. Son obsequios con calidad de exportación, nuestra meta es satisfacer las necesidades de los clientes ofreciendoles el mejor precio y excelentes productos de calidad.</p>
        <div>
            <a href="/products" class="btn">Más productos</a>
        </div>
    </div>
</div>

{{!-- Catalogo de productos de la página de inicio--}}
<h2 class="title">Productos más vendidos</h2>

<div class="catalogo">
    {{#each products}}
        <div class="product__card" data-description="{{description}}" data-name="{{name}}" data-price="{{price}}" data-productid="{{_id}}">
            
            <div>
                <img loading="lazy" src="{{img}}" alt="rosa" class="product__image">
				<div class="product__hover" src="{{img}}">
					<h4 class="product__hover--name">COD. {{name}}</h4>
					<p class="product__hover--description">{{description}}</p>
					<p class="product__hover--price">{{price}}.00 $</p>
				</div>
            </div>

        </div>
    {{/each}}
</div>

	<div class="icon">
		<a href="/products"><i class="bi bi-three-dots"></i></a>
	</div>


<section>
	<h2 class="title">Compra en tres pasos</h2>
	<div class="pay__steps text">
		<div>
			<i class="bi bi-person-check-fill"></i>
			<p><span>1 -</span> Registrate de manera gratuita con tu nombre y correo electrónico.</p>
		</div>
		<div>
			<i class="bi bi-cart-check-fill"></i>
			<p><span>2 -</span> Escoge los productos de tu preferencia (los puedes verificar en el <a href="/cart"><span>carrito</span></a>).</p>
		</div>
		<div>
			<i class="bi bi-chat-dots-fill"></i>
			<p><span>3 -</span> Rellena un formulario con los datos del envío y el método de pago de tu preferencia.</p>
		</div>
	</div>

	<p class="center"><span>Nota.</span> Nosotros responderemos en un plazo máximo de 12 horas para concretar la compra y las condiciones del envío.</p>

	<h2 class="title">Métodos de pago</h2>
	<div class="text">
		<p><span>Louise's Roses</span> no solicita compras internas en su aplicación, el pago es acordado con el comprador tomando en cuenta su comodidad y proporcionandole varios métodos de pago para cancelar el producto.</p>
		<ul>
			<li><i class="bi bi-cash-stack"></i><span>Divisas</span></li>
			<li><i class="bi bi-cash-stack"></i><span>Transferencia bancaria</span></li>
			<li><i class="bi bi-cash-stack"></i><span>Pago movil</span></li>
			<li><i class="bi bi-cash-stack"></i><span>Western Union</span></li>
		</ul>
	</div>
</section>

{{!-- Background del footer --}}
<div class="footer--bg">
	{{!-- Formulario de contacto --}}
    <div class="contact" id="contact">

		<h4 class="title">Contactanos</h4>

		<div class="contact__elements">
			<form action="/send/message" method="POST" class="form">
				<div class="form__inputs">
					<input
						type="text"
						name="name"
						class="input"
						placeholder="  Nombre"
					/>
					<input
						type="text"
						name="lastname"
						class="input"
						placeholder="  Apellido"
					/>
					<input
						type="text"
						name="email"
						class="input"
						placeholder="  Email"
					/>
					<input
						type="text"
						name="phone"
						class="input"
						placeholder="  Teléfono"
					/>

					<textarea
						name="message"
						rows="2"
						class="input block"
						placeholder="  Escriba su mensaje aquí"
					></textarea>

					<button class="btn-inv block">Enviar</button>
				</div>
			</form>

			{{!-- Información de contacto adicional --}}
			<div class="contact__info">
				<h5>Más información</h5>

				<ul>
					<li><i class="bi bi-geo-alt-fill"></i><p><span>Ciudad Bolívar, Venezuela.</span></p></li>
					<li><i class="bi bi-envelope-fill"></i><p>louisesrosesve@gmail.com</p></li>
					<li><i class="bi bi-telephone-fill"></i><p>0412-8950564</p></li>
				</ul>

				<p class="paragraph center contact__message">
					Si tienes alguna duda, inquietud o sugerencia, no
					dudes en contactarnos. Nos interesa saber lo que piensas.
				</p>

				<p class="center">www.louisesroses.com</p>
			</div>
		</div>
	</div>

	{{!-- Footer --}}
    {{>footer}}

</div>